AppForBackGroundTasks/Service References/AccountsServiceReference/AccountsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54524/Services/AccountsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54524/Services/AccountsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54524/Services/AccountsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/bfnexchange.Services.DBModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountsService_AddtoUsersAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:AddtoUsersAccounts" />
  </wsdl:message>
  <wsdl:message name="IAccountsService_AddtoUsersAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddtoUsersAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountsService_GetAccountsDatabyUserIdDateRangeandEventType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountsDatabyUserIdDateRangeandEventType" />
  </wsdl:message>
  <wsdl:message name="IAccountsService_GetAccountsDatabyUserIdDateRangeandEventType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountsDatabyUserIdDateRangeandEventTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountsService_GetDistinctEventTypesfromAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDistinctEventTypesfromAccounts" />
  </wsdl:message>
  <wsdl:message name="IAccountsService_GetDistinctEventTypesfromAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDistinctEventTypesfromAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountsService_GetAccountsCashReceivedorPaidbyDataRange_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountsCashReceivedorPaidbyDataRange" />
  </wsdl:message>
  <wsdl:message name="IAccountsService_GetAccountsCashReceivedorPaidbyDataRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountsCashReceivedorPaidbyDataRangeResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccountsService">
    <wsdl:operation name="AddtoUsersAccounts">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountsService/AddtoUsersAccounts" message="tns:IAccountsService_AddtoUsersAccounts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountsService/AddtoUsersAccountsResponse" message="tns:IAccountsService_AddtoUsersAccounts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountsDatabyUserIdDateRangeandEventType">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountsService/GetAccountsDatabyUserIdDateRangeandEventType" message="tns:IAccountsService_GetAccountsDatabyUserIdDateRangeandEventType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountsService/GetAccountsDatabyUserIdDateRangeandEventTypeResponse" message="tns:IAccountsService_GetAccountsDatabyUserIdDateRangeandEventType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDistinctEventTypesfromAccounts">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountsService/GetDistinctEventTypesfromAccounts" message="tns:IAccountsService_GetDistinctEventTypesfromAccounts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountsService/GetDistinctEventTypesfromAccountsResponse" message="tns:IAccountsService_GetDistinctEventTypesfromAccounts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountsCashReceivedorPaidbyDataRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountsService/GetAccountsCashReceivedorPaidbyDataRange" message="tns:IAccountsService_GetAccountsCashReceivedorPaidbyDataRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountsService/GetAccountsCashReceivedorPaidbyDataRangeResponse" message="tns:IAccountsService_GetAccountsCashReceivedorPaidbyDataRange_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserServices" type="tns:IAccountsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddtoUsersAccounts">
      <soap:operation soapAction="http://tempuri.org/IAccountsService/AddtoUsersAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountsDatabyUserIdDateRangeandEventType">
      <soap:operation soapAction="http://tempuri.org/IAccountsService/GetAccountsDatabyUserIdDateRangeandEventType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDistinctEventTypesfromAccounts">
      <soap:operation soapAction="http://tempuri.org/IAccountsService/GetDistinctEventTypesfromAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountsCashReceivedorPaidbyDataRange">
      <soap:operation soapAction="http://tempuri.org/IAccountsService/GetAccountsCashReceivedorPaidbyDataRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountsService">
    <wsdl:port name="BasicHttpBinding_IUserServices" binding="tns:BasicHttpBinding_IUserServices">
      <soap:address location="http://localhost:54524/Services/AccountsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>