GTWeb/Service References/BettingServiceSoccerReference/BettingServiceSoccer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BettingServiceSoccer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54524/Services/BettingServiceSoccer.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54524/Services/BettingServiceSoccer.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBettingServiceSoccer_GetDataFromBetfairReadOnly_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataFromBetfairReadOnly" />
  </wsdl:message>
  <wsdl:message name="IBettingServiceSoccer_GetDataFromBetfairReadOnly_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataFromBetfairReadOnlyResponse" />
  </wsdl:message>
  <wsdl:message name="IBettingServiceSoccer_GetCurrentMarketBookCricket_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentMarketBookCricket" />
  </wsdl:message>
  <wsdl:message name="IBettingServiceSoccer_GetCurrentMarketBookCricket_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentMarketBookCricketResponse" />
  </wsdl:message>
  <wsdl:portType name="IBettingServiceSoccer">
    <wsdl:operation name="GetDataFromBetfairReadOnly">
      <wsdl:input wsaw:Action="http://tempuri.org/IBettingServiceSoccer/GetDataFromBetfairReadOnly" message="tns:IBettingServiceSoccer_GetDataFromBetfairReadOnly_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBettingServiceSoccer/GetDataFromBetfairReadOnlyResponse" message="tns:IBettingServiceSoccer_GetDataFromBetfairReadOnly_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentMarketBookCricket">
      <wsdl:input wsaw:Action="http://tempuri.org/IBettingServiceSoccer/GetCurrentMarketBookCricket" message="tns:IBettingServiceSoccer_GetCurrentMarketBookCricket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBettingServiceSoccer/GetCurrentMarketBookCricketResponse" message="tns:IBettingServiceSoccer_GetCurrentMarketBookCricket_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBettingServiceSoccer" type="tns:IBettingServiceSoccer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataFromBetfairReadOnly">
      <soap:operation soapAction="http://tempuri.org/IBettingServiceSoccer/GetDataFromBetfairReadOnly" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentMarketBookCricket">
      <soap:operation soapAction="http://tempuri.org/IBettingServiceSoccer/GetCurrentMarketBookCricket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BettingServiceSoccer">
    <wsdl:port name="BasicHttpBinding_IBettingServiceSoccer" binding="tns:BasicHttpBinding_IBettingServiceSoccer">
      <soap:address location="http://localhost:54524/Services/BettingServiceSoccer.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>