bfnexchange/Service References/UsersServiceReference/UserServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/bfnexchange.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/bfnexchange.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="APIResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Etag" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="cache_key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="data" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="matchkey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" type="xs:boolean" />
      <xs:element minOccurs="0" name="status_code" type="xs:int" />
      <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="APIResponse" nillable="true" type="tns:APIResponse" />
</xs:schema>