GTWeb/Service References/APIConfigServiceReference/APIConfigService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="APIConfigService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54524/Services/APIConfigService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54524/Services/APIConfigService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAPIConfigService_GetAPIConfigData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAPIConfigData" />
  </wsdl:message>
  <wsdl:message name="IAPIConfigService_GetAPIConfigData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAPIConfigDataResponse" />
  </wsdl:message>
  <wsdl:message name="IAPIConfigService_UpdateSession_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSession" />
  </wsdl:message>
  <wsdl:message name="IAPIConfigService_UpdateSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSessionResponse" />
  </wsdl:message>
  <wsdl:message name="IAPIConfigService_GetPoundRate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPoundRate" />
  </wsdl:message>
  <wsdl:message name="IAPIConfigService_GetPoundRate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPoundRateResponse" />
  </wsdl:message>
  <wsdl:message name="IAPIConfigService_SetPoundRate_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPoundRate" />
  </wsdl:message>
  <wsdl:message name="IAPIConfigService_SetPoundRate_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPoundRateResponse" />
  </wsdl:message>
  <wsdl:portType name="IAPIConfigService">
    <wsdl:operation name="GetAPIConfigData">
      <wsdl:input wsaw:Action="http://tempuri.org/IAPIConfigService/GetAPIConfigData" message="tns:IAPIConfigService_GetAPIConfigData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAPIConfigService/GetAPIConfigDataResponse" message="tns:IAPIConfigService_GetAPIConfigData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSession">
      <wsdl:input wsaw:Action="http://tempuri.org/IAPIConfigService/UpdateSession" message="tns:IAPIConfigService_UpdateSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAPIConfigService/UpdateSessionResponse" message="tns:IAPIConfigService_UpdateSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPoundRate">
      <wsdl:input wsaw:Action="http://tempuri.org/IAPIConfigService/GetPoundRate" message="tns:IAPIConfigService_GetPoundRate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAPIConfigService/GetPoundRateResponse" message="tns:IAPIConfigService_GetPoundRate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPoundRate">
      <wsdl:input wsaw:Action="http://tempuri.org/IAPIConfigService/SetPoundRate" message="tns:IAPIConfigService_SetPoundRate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAPIConfigService/SetPoundRateResponse" message="tns:IAPIConfigService_SetPoundRate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserServices" type="tns:IAPIConfigService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAPIConfigData">
      <soap:operation soapAction="http://tempuri.org/IAPIConfigService/GetAPIConfigData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSession">
      <soap:operation soapAction="http://tempuri.org/IAPIConfigService/UpdateSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPoundRate">
      <soap:operation soapAction="http://tempuri.org/IAPIConfigService/GetPoundRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPoundRate">
      <soap:operation soapAction="http://tempuri.org/IAPIConfigService/SetPoundRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="APIConfigService">
    <wsdl:port name="BasicHttpBinding_IUserServices" binding="tns:BasicHttpBinding_IUserServices">
      <soap:address location="http://localhost:54524/Services/APIConfigService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>