AppForBackGroundTasks/Service References/BettingServiceReference/BettingService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ExternalAPI.TO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExternalAPI.TO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54524/Services/BettingService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfMarketCatalogue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MarketCatalogue" nillable="true" type="tns:MarketCatalogue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMarketCatalogue" nillable="true" type="tns:ArrayOfMarketCatalogue" />
  <xs:complexType name="MarketCatalogue">
    <xs:sequence>
      <xs:element minOccurs="0" name="Competition" nillable="true" type="tns:Competition" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="tns:MarketDescription" />
      <xs:element minOccurs="0" name="Event" nillable="true" type="tns:Event" />
      <xs:element minOccurs="0" name="EventType" nillable="true" type="tns:EventType" />
      <xs:element minOccurs="0" name="IsMarketDataDelayed" type="xs:boolean" />
      <xs:element minOccurs="0" name="MarketId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarketName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Runners" nillable="true" type="tns:ArrayOfRunnerDescription" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MarketCatalogue" nillable="true" type="tns:MarketCatalogue" />
  <xs:complexType name="Competition">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isFavorite" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Competition" nillable="true" type="tns:Competition" />
  <xs:complexType name="MarketDescription">
    <xs:sequence>
      <xs:element minOccurs="0" name="BettingType" type="tns:MarketBettingType" />
      <xs:element minOccurs="0" name="Clarifications" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsBspMarket" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDiscountAllowed" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPersistenceEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsTurnInPlayEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="MarketBaseRate" type="xs:double" />
      <xs:element minOccurs="0" name="MarketTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MarketType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Regulator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rules" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RulesHasDate" type="xs:boolean" />
      <xs:element minOccurs="0" name="SettleTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SuspendTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Wallet" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MarketDescription" nillable="true" type="tns:MarketDescription" />
  <xs:simpleType name="MarketBettingType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ODDS" />
      <xs:enumeration value="LINE" />
      <xs:enumeration value="RANGE" />
      <xs:enumeration value="ASIAN_HANDICAP_DOUBLE_LINE" />
      <xs:enumeration value="ASIAN_HANDICAP_SINGLE_LINE" />
      <xs:enumeration value="FIXED_ODDS" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MarketBettingType" nillable="true" type="tns:MarketBettingType" />
  <xs:complexType name="Event">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpenDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Timezone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Venue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isFavorite" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Event" nillable="true" type="tns:Event" />
  <xs:complexType name="EventType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isFavorite" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventType" nillable="true" type="tns:EventType" />
  <xs:complexType name="ArrayOfRunnerDescription">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RunnerDescription" nillable="true" type="tns:RunnerDescription" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRunnerDescription" nillable="true" type="tns:ArrayOfRunnerDescription" />
  <xs:complexType name="RunnerDescription">
    <xs:sequence>
      <xs:element minOccurs="0" name="Handicap" type="xs:double" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Metadata" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="RunnerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SelectionId" type="xs:long" />
      <xs:element minOccurs="0" name="SortPriority" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RunnerDescription" nillable="true" type="tns:RunnerDescription" />
  <xs:complexType name="ArrayOfMarketBook">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MarketBook" nillable="true" type="tns:MarketBook" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMarketBook" nillable="true" type="tns:ArrayOfMarketBook" />
  <xs:complexType name="MarketBook">
    <xs:sequence>
      <xs:element minOccurs="0" name="BetDelay" type="xs:int" />
      <xs:element minOccurs="0" name="BettingAllowed" type="xs:boolean" />
      <xs:element minOccurs="0" name="BettingAllowedOverAll" type="xs:boolean" />
      <xs:element minOccurs="0" name="CricketAPIMatchKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CricketMatchKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DebitCredit" nillable="true" type="tns:ArrayOfDebitCredit" />
      <xs:element minOccurs="0" name="EventID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FavoriteBack" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FavoriteBackSize" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FavoriteID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FavoriteLay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FavoriteLaySize" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FavoriteSelectionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GetMatchUpdatesFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsBspReconciled" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsComplete" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsCrossMatching" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsInplay" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsMarketDataDelayed" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRunnersVoidable" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastMatchTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LineVMarkets" nillable="true" type="tns:ArrayOfLinevMarkets" />
      <xs:element minOccurs="0" name="MainSportsname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarketBookName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarketId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarketStatusstr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfActiveRunners" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfRunners" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfWinners" type="xs:int" />
      <xs:element minOccurs="0" name="OpenDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrignalOpenDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PoundRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="Runners" nillable="true" type="tns:ArrayOfRunner" />
      <xs:element minOccurs="0" name="SheetName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="tns:MarketStatus" />
      <xs:element minOccurs="0" name="TotalAvailable" type="xs:double" />
      <xs:element minOccurs="0" name="TotalMatched" type="xs:double" />
      <xs:element minOccurs="0" name="TotalOvers" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserBetsAdmin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserBetsAgent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserBetsEndUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" type="xs:long" />
      <xs:element minOccurs="0" name="isOpenExternally" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstMultipleSelectionforBets" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="marketsopened" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MarketBook" nillable="true" type="tns:MarketBook" />
  <xs:complexType name="ArrayOfDebitCredit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DebitCredit" nillable="true" type="tns:DebitCredit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDebitCredit" nillable="true" type="tns:ArrayOfDebitCredit" />
  <xs:complexType name="DebitCredit">
    <xs:sequence>
      <xs:element minOccurs="0" name="Credit" type="xs:decimal" />
      <xs:element minOccurs="0" name="Debit" type="xs:decimal" />
      <xs:element minOccurs="0" name="SelectionID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DebitCredit" nillable="true" type="tns:DebitCredit" />
  <xs:complexType name="ArrayOfLinevMarkets">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LinevMarkets" nillable="true" type="tns:LinevMarkets" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLinevMarkets" nillable="true" type="tns:ArrayOfLinevMarkets" />
  <xs:complexType name="LinevMarkets">
    <xs:sequence>
      <xs:element name="_x003C_AssociateeventID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_BettingAllowed_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_CompetitionID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CompetitionName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_EventID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_EventName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_MarketCatalogueID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_MarketCatalogueName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SelectionID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SelectionName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_isOpenedbyUser_x003E_k__BackingField" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LinevMarkets" nillable="true" type="tns:LinevMarkets" />
  <xs:complexType name="ArrayOfRunner">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Runner" nillable="true" type="tns:Runner" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRunner" nillable="true" type="tns:ArrayOfRunner" />
  <xs:complexType name="Runner">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdjustmentFactor" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Average" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BettingAllowed" type="xs:boolean" />
      <xs:element minOccurs="0" name="Clothnumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExchangePrices" nillable="true" type="tns:ExchangePrices" />
      <xs:element minOccurs="0" name="Handicap" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="JockeyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastPriceTraded" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Loss" type="xs:long" />
      <xs:element minOccurs="0" name="MarketBookID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarketStatusStr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Matches" nillable="true" type="tns:ArrayOfMatch" />
      <xs:element minOccurs="0" name="Orders" nillable="true" type="tns:ArrayOfOrder" />
      <xs:element minOccurs="0" name="ProfitandLoss" type="xs:long" />
      <xs:element minOccurs="0" name="RemovalDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RunnerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SelectionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StallDraw" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartingPrices" nillable="true" type="tns:StartingPrices" />
      <xs:element minOccurs="0" name="Status" type="tns:RunnerStatus" />
      <xs:element minOccurs="0" name="StatusStr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalMatched" type="xs:double" />
      <xs:element minOccurs="0" name="WearingDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WearingURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isShow" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Runner" nillable="true" type="tns:Runner" />
  <xs:complexType name="ExchangePrices">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvailableToBack" nillable="true" type="tns:ArrayOfPriceSize" />
      <xs:element minOccurs="0" name="AvailableToLay" nillable="true" type="tns:ArrayOfPriceSize" />
      <xs:element minOccurs="0" name="TradedVolume" nillable="true" type="tns:ArrayOfPriceSize" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExchangePrices" nillable="true" type="tns:ExchangePrices" />
  <xs:complexType name="ArrayOfPriceSize">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PriceSize" nillable="true" type="tns:PriceSize" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPriceSize" nillable="true" type="tns:ArrayOfPriceSize" />
  <xs:complexType name="PriceSize">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrignalSize" type="xs:double" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Size" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PriceSize" nillable="true" type="tns:PriceSize" />
  <xs:complexType name="ArrayOfMatch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Match" nillable="true" type="tns:Match" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMatch" nillable="true" type="tns:ArrayOfMatch" />
  <xs:complexType name="Match">
    <xs:sequence>
      <xs:element minOccurs="0" name="BetId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MatchDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Side" type="tns:Side" />
      <xs:element minOccurs="0" name="Size" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Match" nillable="true" type="tns:Match" />
  <xs:simpleType name="Side">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BACK" />
      <xs:enumeration value="LAY" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Side" nillable="true" type="tns:Side" />
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvgPriceMatched" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="BetId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BspLiability" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="OrderType" type="tns:OrderType" />
      <xs:element minOccurs="0" name="PersistenceType" type="tns:PersistenceType" />
      <xs:element minOccurs="0" name="PlacedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Side" type="tns:Side" />
      <xs:element minOccurs="0" name="Size" type="xs:double" />
      <xs:element minOccurs="0" name="SizeCancelled" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="SizeLapsed" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="SizeMatched" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="SizeRemaining" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="SizeVoided" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Status" type="tns:OrderStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:simpleType name="OrderType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LIMIT" />
      <xs:enumeration value="LIMIT_ON_CLOSE" />
      <xs:enumeration value="MARKET_ON_CLOSE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OrderType" nillable="true" type="tns:OrderType" />
  <xs:simpleType name="PersistenceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LAPSE" />
      <xs:enumeration value="PERSIST" />
      <xs:enumeration value="MARKET_ON_CLOSE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PersistenceType" nillable="true" type="tns:PersistenceType" />
  <xs:simpleType name="OrderStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EXECUTION_COMPLETE" />
      <xs:enumeration value="EXECUTABLE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OrderStatus" nillable="true" type="tns:OrderStatus" />
  <xs:complexType name="StartingPrices">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActualSP" type="xs:double" />
      <xs:element minOccurs="0" name="BackStakeTaken" nillable="true" type="tns:ArrayOfPriceSize" />
      <xs:element minOccurs="0" name="FarPrice" type="xs:double" />
      <xs:element minOccurs="0" name="LayLiabilityTaken" nillable="true" type="tns:ArrayOfPriceSize" />
      <xs:element minOccurs="0" name="NearPrice" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StartingPrices" nillable="true" type="tns:StartingPrices" />
  <xs:simpleType name="RunnerStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTIVE" />
      <xs:enumeration value="WINNER" />
      <xs:enumeration value="LOSER" />
      <xs:enumeration value="REMOVED_VACANT" />
      <xs:enumeration value="REMOVED" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RunnerStatus" nillable="true" type="tns:RunnerStatus" />
  <xs:simpleType name="MarketStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INACTIVE" />
      <xs:enumeration value="OPEN" />
      <xs:enumeration value="SUSPENDED" />
      <xs:enumeration value="CLOSED" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MarketStatus" nillable="true" type="tns:MarketStatus" />
  <xs:complexType name="ArrayOfEventTypeResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventTypeResult" nillable="true" type="tns:EventTypeResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventTypeResult" nillable="true" type="tns:ArrayOfEventTypeResult" />
  <xs:complexType name="EventTypeResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="EventType" nillable="true" type="tns:EventType" />
      <xs:element minOccurs="0" name="MarketCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventTypeResult" nillable="true" type="tns:EventTypeResult" />
  <xs:complexType name="ArrayOfCompetitionResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompetitionResult" nillable="true" type="tns:CompetitionResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompetitionResult" nillable="true" type="tns:ArrayOfCompetitionResult" />
  <xs:complexType name="CompetitionResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Competition" nillable="true" type="tns:Competition" />
      <xs:element minOccurs="0" name="MarketCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompetitionResult" nillable="true" type="tns:CompetitionResult" />
  <xs:complexType name="ArrayOfEventResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventResult" nillable="true" type="tns:EventResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventResult" nillable="true" type="tns:ArrayOfEventResult" />
  <xs:complexType name="EventResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Event" nillable="true" type="tns:Event" />
      <xs:element minOccurs="0" name="MarketCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventResult" nillable="true" type="tns:EventResult" />
</xs:schema>