AdminNew/Service References/CricketScoreServiceReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50717/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CricketScoreService.DBModel" />
  <xs:element name="AddCricketMatchKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CricketMatchKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCricketMatchKeyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchDatabyKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CricketMatchKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchDatabyKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMatchDatabyKeyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMatchData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CricketMatchKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MatchData" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MatchStatus" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMatchDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMatchbyKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CricketMatchKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMatchbyKeyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CricketScoreService.DBModel" minOccurs="0" name="GetMatchKeysResult" nillable="true" type="q1:ArrayOfCricketData_GetMatchKeys_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>