bfnexchange.Services/Service References/ServiceReference1/BettingServiceRest1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54524/Services/BettingServiceRest.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ExternalAPI.TO" />
  <xs:element name="GetMarketDatabyIDJsonString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sheetname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MainSportsCategory" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMarketDatabyIDJsonStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMarketDatabyIDJsonStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserbetsForAdmin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserbetsForAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserbetsForAdminResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserBetsbyAgentIDwithZeroReferer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserBetsbyAgentIDwithZeroRefererResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserBetsbyAgentIDwithZeroRefererResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMarketsBP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="marketID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMarketsBPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllMarketsBPResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMarketsBPFancy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="marketID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMarketsBPFancyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllMarketsBPFancyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMarketsOthers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="marketID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMarketsOthersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ExternalAPI.TO" minOccurs="0" name="GetAllMarketsOthersResult" nillable="true" type="q1:ArrayOfMarketBookString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMarketsOthersFancy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="marketID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMarketsOthersFancyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ExternalAPI.TO" minOccurs="0" name="GetAllMarketsOthersFancyResult" nillable="true" type="q2:ArrayOfMarketBookString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMarkets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="marketID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMarketsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ExternalAPI.TO" minOccurs="0" name="GetAllMarketsResult" nillable="true" type="q3:ArrayOfMarketBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMarketsFancy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="marketID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMarketsFancyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ExternalAPI.TO" minOccurs="0" name="GetAllMarketsFancyResult" nillable="true" type="q4:ArrayOfMarketBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScoresbyEventIDandDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScoresbyEventIDandDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetScoresbyEventIDandDateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMarketsFancyString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="marketID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMarketsFancyStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllMarketsFancyStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMarketsString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="marketID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMarketsStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllMarketsStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserBetsbyAgentIDNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgentID" type="xs:int" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserBetsbyAgentIDNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserBetsbyAgentIDNewResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserbetsbyUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserbetsbyUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserbetsbyUserIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>