AdminNew/Service References/Service123Reference/Service1233.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54524/Services/Service123.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:54524/Services/Service123.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ExternalAPI.TO" />
  <xs:element name="GetMarketDatabyID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="marketID" nillable="true" type="q1:ArrayOfstring" />
        <xs:element minOccurs="0" name="sheetname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OrignalOpenDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="MainSportsCategory" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMarketDatabyIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ExternalAPI.TO" minOccurs="0" name="GetMarketDatabyIDResult" nillable="true" type="q2:ArrayOfMarketBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMarketDatabyIDIndianFancy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MarketBookID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMarketDatabyIDIndianFancyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ExternalAPI.TO" minOccurs="0" name="GetMarketDatabyIDIndianFancyResult" nillable="true" type="q3:MarketBookForindianFancy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRunnersForFancy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MarketBookID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRunnersForFancyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRunnersForFancyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventIDFancyMarket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MarketBookID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventIDFancyMarketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ExternalAPI.TO" minOccurs="0" name="GetEventIDFancyMarketResult" nillable="true" type="q4:ArrayOfLinevMarkets" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ExternalAPI.TO" minOccurs="0" name="GetUpdateResult" nillable="true" type="q5:Home" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpdateNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpdateNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ExternalAPI.TO" minOccurs="0" name="GetUpdateNewResult" nillable="true" type="q6:UpdateNew" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpdate2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpdate2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ExternalAPI.TO" minOccurs="0" name="GetUpdate2Result" nillable="true" type="q7:Root" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpdateSCT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Eventtypeid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpdateSCTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ExternalAPI.TO" minOccurs="0" name="GetUpdateSCTResult" nillable="true" type="q8:ArrayOfRootSCT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMarketsFancyString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="marketID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMarketsFancyStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllMarketsFancyStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMarketsString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="marketID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMarketsStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllMarketsStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMarketsBP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="marketID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMarketsBPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllMarketsBPResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMarketsBPFancy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="marketID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMarketsBPFancyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllMarketsBPFancyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>