bfTradeLineWPF/Service References/CricketScoreServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CricketScoreService.DBModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CricketScoreService.DBModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCricketData_GetMatchKeys_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CricketData_GetMatchKeys_Result" nillable="true" type="tns:CricketData_GetMatchKeys_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCricketData_GetMatchKeys_Result" nillable="true" type="tns:ArrayOfCricketData_GetMatchKeys_Result" />
  <xs:complexType name="CricketData_GetMatchKeys_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="CricketMatchKey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CricketData_GetMatchKeys_Result" nillable="true" type="tns:CricketData_GetMatchKeys_Result" />
</xs:schema>